coverage/

.vscode/
.idea/
*.swp

dist/
node_modules/
build/
out/
docs/

# Generated examples bundle
examples/three-particles.esm.js

*.log

.jest/
.jest-cache/
.jest-test-results.json

.prettier-cache/
.eslintcache

tmp/
