# Node.js dependencies
node_modules/

# Output directories
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment variables
.env
